@charset "utf-8";
/* CSS Document */

* { margin: 0px; padding: 0px }
body { font: normal 12px/15px Arial, Helvetica, sans-serif; color: #000; text-align: center;}

#container { margin: auto;}
#container { 
	width: 940px;
	height: 100%; 
	background-image: url(../image/logoN.jpg);
	background-repeat: no-repeat;
	background-position: left bottom;
	text-align: center; 
	border: solid 1px #000; 
	
}


.clear { height: 0px; float: none; clear: both }